/* .mfc-video__content--theme-01 */
    .mfc-video__content--theme-01 .color-style-default {
        background-color: #666;
    }
    .mfc-video__content--theme-01 .color-style-01 {
        background-color: #D80420;
    }
    .mfc-video__content--theme-01 .color-style-02 {
        background-color: #E0DCDD;
    }
    .mfc-video__content--theme-01 .color-style-03 {
        background-color: #4C8589;
    }
    .mfc-video__content--theme-01 .color-style-04 {
        background-color: #000;
    }
