/* .mfc-video__content--theme-01 */
    .mfc-video__content--theme-01 .color-style-default {
        background: #ccc;
    }
    .mfc-video__content--theme-01 .color-style-01 {
        background: #D80420;
    }
    .mfc-video__content--theme-01 .color-style-02 {
        background: #E0DCDD;
    }
    .mfc-video__content--theme-01 .color-style-03 {
        background: #4C8589;
    }