@font-face {
    font-family: 'Noto Sans Regular';
    src: url('../fonts/noto-sans-regular.woff2') format('woff2'),
        url('../fonts/noto-sans-regular.woff') format('woff'),
        url('../fonts/noto-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Regular';
    src: url('../fonts/oswald-regular.woff2') format('woff2'),
        url('../fonts/oswald-regular.woff') format('woff'),
        url('../fonts/oswald-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: Arial;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
* {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
p {
    margin: 0;
    padding: 0;
}
p,
span,
div,
em,
strong {
    cursor: default;
}
.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}
.logs {
    width: 100%;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    max-height: 100%;
    overflow: auto;
    color: #666;
}

/* progress bar */
    .mfc-control {}
        .mfc-progress {
            width: 80%;
            height: 3%;
            border: 1px solid #fff;
            position: absolute;
            left: 3%;
            bottom: 4%;
            z-index: 10000;
        }
            .mfc-progress__bar {
                width: calc( 100% - 2px );
                height: calc( 100% - 2px );
                position: absolute;
                top: 1px;
                left: 1px;
            }
                .mfc-progress__indicator {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: rgb(255,255,255);
                }
/* end. progress bar */

/* video controls button */
    .mfc-control-btn {
        display: block;
        position: absolute;
        z-index: 1000000;
        width: 10%;
        text-align: center;
        cursor: pointer;
    }
    .mfc-control-btn,
    .mfc-control-btn:hover {
        text-decoration: none;
    }
        .mfc-svg-btn {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, .6);
            cursor: pointer;
        }
            .mfc-svg-btn > svg {
                display: block;
            }
            .mfc-svg-btn .ytp-svg-fill {
                fill: #fff;
            }
            .mfc-svg-btn .ytp-svg-shadow {
                fill: none;
            }

        /* volume button */
            .mfc-volume-btn {
                width: 4%;
                height: 8%;
                right: 2%;
                bottom: 2%;
            }
                .mfc-volume-btn.muted .mfc-svg-btn--volume-on,
                .mfc-volume-btn .mfc-svg-btn--volume-off {
                    display: none;
                }
                .mfc-volume-btn .mfc-svg-btn--volume-on,
                .mfc-volume-btn.muted .mfc-svg-btn--volume-off {
                    display: block;
                }
        /* end. volume button */

        /* stop button */
            .mfc-stop-btn {
                width: 4%;
                height: 8%;
                right: 7%;
                bottom: 2%;
                background: rgba(0,0,0,0.6);
                text-indent: -1000em;
            }
                .mfc-stop-btn:after {
                    width: 40%;
                    height: 40%;
                    content: " ";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background-color: #fff;
                }
        /* end. stop button */

        /* play|pause button */
            .mfc-play-btn {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
            .mfc-play-btn.playing {
                cursor: default;
            }
            .mfc-play-btn .mfc-svg-btn {
                visibility: hidden;
                width: 10%;
                height: 20%;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                cursor: pointer;

                border-radius: 100%;
                -moz-border-radius: 100%;
                -webkit-border-radius: 100%;

                transform: scale(1);
                -webkit-transform: scale(1);
                -ms-transform: scale(1);

                opacity: 1;
                -moz-opacity: 1;
                filter: alpha(opacity=1);

                transition: transform .75s, opacity .75s;
                -webkit-transition: -webkit-transform .75s, opacity .75s;
            }
                .mfc-play-btn .mfc-svg-btn svg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            .mfc-play-btn[data-play="0"] .mfc-svg-btn--play {
                visibility: visible;
            }
            .mfc-play-btn.playing[data-pause="0"] .mfc-svg-btn--play,
            .mfc-play-btn.playing[data-pause="1"] .mfc-svg-btn--pause {
                visibility: visible;

                transform: scale(2);
                -webkit-transform: scale(2);
                -ms-transform: scale(2);

                opacity: 0;
                -moz-opacity: 0;
                filter: alpha(opacity=0);

                cursor: default;
            }
        /* end. play|pause button */
/* end. video controls button */

.mfc-video__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}
    .mfc-video__content {
        position: absolute;
        z-index: 1000;
        background: #000;
        width: 100%;
        height: 100%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }
    .mfc-video__content.mfc-video__waiting {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .mfc-video__content.mfc-video__error {
        background: none !important;
    }
        .mfc-video__content.mfc-video__error .mfc-control-btn {
            display: none !important;
        }
        .mfc-video__content.mfc-video__error .mfc-video-error-text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            text-align: center;
        }
    .mfc-video__content.mfc-video__loading {
        z-index: 1;
    }
        .mfc-loading-progress {
            position: absolute;
            width: 25%;
            height: 50%;
            max-height: 200px;
            z-index: 100;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background: url(../images/icon-loading.gif) no-repeat center center;
            background-size: contain;

            text-align: center;
            color: #999;
            font-weight: bold;
            font-style: italic;
        }
    .mfc-video__content.mfc-video__resizing {
        background: url(../images/icon-loading.gif) no-repeat center center !important;
        background-size: contain;
    }
        .mfc-video__content.mfc-video__resizing .stage {
            visibility: hidden !important;
        }
    .stage {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
        .block {
            position: absolute;
        }

    .kaleidoscope {
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;

        width: 32%; /* = 77%*(its parent height=83%)/2 <= 2 is ratio width:height = 2:1; */
        height: 77%; /* 77% of its parent height = 88% of stage height */

        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;

        -ms-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);

        /* this fixes the overflow:hidden in Chrome */
        -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    }

    /* scene 01 */
        .scene-01 .img-placeholder-01 {
            width: 45%;
            height: 30%;
            top: 0;
            left: 0;
            /* just for demo */
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 150%;
        }
            .scene-01 .img-alpha-layer {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.5;
                -moz-opacity: 0.5;
                filter: alpha(opacity=50);
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        .scene-01 .img-placeholder-02 {
            width: 35%;
            height: 68%;
            top: 0;
            left: 48%;
            transform: translate(0, -105%);
            -webkit-transform: translate(0, -105%);
            -ms-transform: translate(0, -105%);
            /* just for demo */
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .scene-01 .anim-block-01 {
            width: 14%;
            height: 48%;
            top: 0;
            right: 0;

            transform: translate(0, -100%);
            -webkit-transform: translate(0, -100%);
            -ms-transform: translate(0, -100%);
        }
        .scene-01 .img-placeholder-03 {
            width: 14%;
            height: 15%;
            top: 53%;
            right: 0;
            /* just for demo */
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 300%;
        }
        .scene-01 .anim-block-02 {
            width: 45%;
            height: 64%;
            left: 0;
            bottom: 0;
            overflow: hidden;
        }
            .scene-01 .anim-block-02 .block__inner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 45%;
            }
            .scene-01 .anim-block-02 .block__inner--alt {
                top: auto;
                bottom: 0;
            }
        .scene-01 .scale-block-01 {
            width: 45%;
            height: 64%;
            left: 0;
            bottom: 0;
            overflow: hidden;
        }
            .scene-01 .scale-block-01 .block__inner {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;

                transform: translate(105%, 0);
                -webkit-transform: translate(105%, 0);
                -ms-transform: translate(105%, 0);
            }
        .scene-01 .static-block-01 {
            width: 52%;
            height: 26%;
            right: 0;
            bottom: 0;
        }
        .scene-01 .anim-block-03 {
            width: 100%;
            height: 13%;
            right: 0;
            bottom: 0;

            transform: translate(100%, 0);
            -webkit-transform: translate(100%, 0);
            -ms-transform: translate(100%, 0);
        }

    /* scene 02 */
        .scene-02 .anim-block-01 {
            width: 100%;
            height: 83%;
            top: 0;
            left: 0;

            transform: translate(-100%, 0);
            -webkit-transform: translate(-100%, 0);
            -ms-transform: translate(-100%, 0);
        }
        .scene-02 .img-placeholder-01 {
            width: 19%;
            height: 83%;
            top: 0;
            right: 0;
            overflow: hidden;
            background: #000;
            z-index: 2;

            transform: translate(100%, 0);
            -webkit-transform: translate(100%, 0);
            -ms-transform: translate(100%, 0);
        }
            .scene-02 .img-placeholder-01 .block__inner {
                position: absolute;
                top: 0;
                right: 0;
                width: 90%;
                height: 100%;
                background-repeat: repeat;
                background-size: contain;
            }
        .scene-02 .anim-block-02 {
            width: 100%;
            height: 13%;
            bottom: 0;
            right: 0;

            transform: translate(100%, 0);
            -webkit-transform: translate(100%, 0);
            -ms-transform: translate(100%, 0);
        }
        .scene-02 .kaleidoscope-text {
            font-weight: bold;
            width: 32%;
            height: 77%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 100;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            cursor: default;
            font-family: 'Oswald Regular';
        }
        .scene-02 .kaleidoscope-sentence {
            text-transform: uppercase;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 1%;
            font-weight: bold;
            color: #fff;
            cursor: default;
            font-family: 'Oswald Regular';
        }

    /* scene 03 */
        .scene-03 .inline-block {
            float: left;
        }
        /* part 1 */
            .scene-03 .block {
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                padding: 0 2%;
                margin: 0 2%;
                position: relative;
                float: left;
                font-family: 'Oswald Regular';
            }
            .scene-03 .block-space {
                width: 0;
                padding: 0;
                margin: 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            .scene-03 .sentence-row {
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
                .scene-03 .sentence-row.sentence-row-01 .block:first-child,
                .scene-03 .sentence-row.sentence-row-02 .block:first-child,
                .scene-03 .sentence-row.sentence-row-03 .block:first-child {
                    margin-left: 0;
                }
                .scene-03 .sentence-row.sentence-row-01 .block:last-child,
                .scene-03 .sentence-row.sentence-row-02 .block:last-child,
                .scene-03 .sentence-row.sentence-row-03 .block:last-child {
                    margin-right: 0;
                }
            .scene-03 .sentence-row.sentence-row-01,
            .scene-03 .sentence-row.sentence-row-02 {
                top: 0;
                height: 25%;
                padding: 0 0 2%;
            }
            .scene-03 .sentence-row.sentence-row-02 {
                top: 25%;
            }
            .scene-03 .sentence-row.sentence-row-03 {
                bottom: 0;
                height: 50%;
            }
                .scene-03 .sentence-row .block span .scene-03__keyword {
                    visibility: hidden;
                    font-style: normal;
                    white-space: nowrap;
                }
                .scene-03 .sentence-row .block span .scene-03__keyword.visible {
                    visibility: visible;
                }

        /* part 2 */
            .scene-03 .scene-03__part-block {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .scene-03 .word-block-wrapper {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 95%;
                height: 25%;
            }
                .scene-03 .word-block {
                    float: left;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                    position: relative;
                    font-family: 'Oswald Regular';
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                .scene-03 .word-block-01 {
                    text-align: right;
                    width: 42%;
                    padding-right: 1%;
                }
                .scene-03 .word-block-02 {
                    width: 26%;
                }
                .scene-03 .word-block-03 {
                    text-align: left;
                    float: right;
                    width: 32%;
                    padding-left: 1%;
                }
                    .scene-03 .word-block span {
                        display: block;
                    }
                    .scene-03 hr {
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        border: none;
                        left: 0;
                        z-index: 10;
                        margin: 0;
                        padding: 0;
                    }
                    .scene-03 .word-block-01 hr:nth-child(2),
                    .scene-03 .word-block-02 hr:nth-child(2),
                    .scene-03 .word-block-03 hr:nth-child(2) {
                        top: 20%;
                    }
                    .scene-03 .word-block-01 hr:nth-child(3),
                    .scene-03 .word-block-02 hr:nth-child(3),
                    .scene-03 .word-block-03 hr:nth-child(3) {
                        top: 40%;
                    }
                    .scene-03 .word-block-01 hr:nth-child(4),
                    .scene-03 .word-block-02 hr:nth-child(4),
                    .scene-03 .word-block-03 hr:nth-child(4) {
                        top: 60%;
                    }
                    .scene-03 .word-block-01 hr:nth-child(5),
                    .scene-03 .word-block-02 hr:nth-child(5),
                    .scene-03 .word-block-03 hr:nth-child(5) {
                        top: 80%;
                    }

        /* part 3 */
            .scene-03 .mfc-banner-01 {
                position: absolute;
                top: 25%;
                left: 0;
                right: 0;
                margin: auto;
                width: 70%;
                height: 25%;
                text-align: center;
                color: #fff;
                font-style: italic;
                font-weight: bold;
                font-family: 'Noto Sans Regular';
            }
            .scene-03 .mfc-big-day {
                text-align: center;
                color: #dfdfdf;
                position: absolute;
                top: 52%;
                left: 0;
                right: 0;
                margin: auto;
                width: 100%;
                height: 8%;
            }
            .scene-03 .mfc-brand {
            }
                .scene-03 .mfc-logo {
                    position: absolute;
                    bottom: 15%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 8%;
                    height: 16%;
                    background: #ccc;
                    display: block;
                    background: url(../images/logo.png) no-repeat center center;
                    background-size: contain;
                }
                .scene-03 .mfc-copyright {
                    font-family: 'Noto Sans Regular';
                    position: absolute;
                    bottom: 10%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: center;
                    color: #dfdfdf;
                    width: 100%;
                    height: 5%;
                }